pkgbase = logmancer
	pkgdesc = Disk-backed log viewer with desktop, web, and terminal frontends
	pkgver = 0.5.0beta2
	pkgrel = 1
	url = https://github.com/ignsabbag/logmancer
	arch = x86_64
	license = MIT
	makedepends = rustup
	makedepends = pkgconf
	makedepends = cmake
	depends = glibc
	depends = gcc-libs
	depends = glib2
	depends = gtk3
	depends = cairo
	depends = pango
	depends = gdk-pixbuf2
	depends = at-spi2-core
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = openssl
	depends = hicolor-icon-theme
	options = !lto
	options = !debug
	source = logmancer-source.tar.gz::https://github.com/ignsabbag/logmancer/archive/refs/tags/v0.5.0-beta.2.tar.gz
	source = logmancer.desktop
	sha256sums = de383fcb130bee7d637a38f1eec41c61cfd92bd564ed36215daf1fb092c1337b
	sha256sums = 09c7f78306046cc43875ec6e2fee8afb1fd389a01cac1cd49d34ce4746f3b6ff

pkgname = logmancer
